<app-user>  </app-user>

<div>
    <h1>¿Qué me parece Angular?</h1>
    <article>
        <p>
            Angular es un framework de desarrollo de aplicaciones web desarrollado por Google. 
            Es un framework de código abierto que permite crear aplicaciones web de una sola página (SPA) 
            y aplicaciones web dinámicas. Angular es un framework de desarrollo de aplicaciones web 
            desarrollado por Google. Es un framework de código abierto que permite crear aplicaciones web 
            de una sola página (SPA) y aplicaciones web dinámicas.    
        </p>  
        <p>
            Angular es un framework de desarrollo de aplicaciones web desarrollado por Google. 
            Es un framework de código abierto que permite crear aplicaciones web de una sola página (SPA) 
            y aplicaciones web dinámicas. Angular es un framework de desarrollo de aplicaciones web 
            desarrollado por Google. Es un framework de código abierto que permite crear aplicaciones web 
            de una sola página (SPA) y aplicaciones web dinámicas.
        </p>
        <p>
            Angular es un framework de desarrollo de aplicaciones web desarrollado por Google. 
            Es un framework de código abierto que permite crear aplicaciones web de una sola página (SPA) 
            y aplicaciones web dinámicas. Angular es un framework de desarrollo de aplicaciones web 
            desarrollado por Google. Es un framework de código abierto que permite crear aplicaciones web 
            de una sola página (SPA) y aplicaciones web dinámicas.    
        </p>  
        <p>
            Angular es un framework de desarrollo de aplicaciones web desarrollado por Google. 
            Es un framework de código abierto que permite crear aplicaciones web de una sola página (SPA) 
            y aplicaciones web dinámicas. Angular es un framework de desarrollo de aplicaciones web 
            desarrollado por Google. Es un framework de código abierto que permite crear aplicaciones web 
            de una sola página (SPA) y aplicaciones web dinámicas.
        </p>
        <p>
            Angular es un framework de desarrollo de aplicaciones web desarrollado por Google. 
            Es un framework de código abierto que permite crear aplicaciones web de una sola página (SPA) 
            y aplicaciones web dinámicas. Angular es un framework de desarrollo de aplicaciones web 
            desarrollado por Google. Es un framework de código abierto que permite crear aplicaciones web 
            de una sola página (SPA) y aplicaciones web dinámicas.    
        </p>  

        <p>
            Angular es un framework de desarrollo de aplicaciones web desarrollado por Google. 
            Es un framework de código abierto que permite crear aplicaciones web de una sola página (SPA) 
            y aplicaciones web dinámicas. Angular es un framework de desarrollo de aplicaciones web 
            desarrollado por Google. Es un framework de código abierto que permite crear aplicaciones web 
            de una sola página (SPA) y aplicaciones web dinámicas.
        </p>
    </article>

    @defer(on viewport) {
        <app-comments></app-comments>
    } @placeholder {
        <p>Futuro comentarios</p>
    } @loading() {
        <p>Cargando comentarios...</p>
    }
</div>

